params.outdir = "${baseDir}/results"

conda {
    enabled = true
}

process {
    executor = 'local'
    cpus = 2
    memory = '4 GB'

    withName: FASTQC_RAW {
        conda = 'bioconda::fastqc=0.12.1'
    }

    withName: FASTP {
        conda = 'bioconda::fastp=0.23.4'
    }

    withName: FASTQC_TRIMMED {
        conda = 'bioconda::fastqc=0.12.1'
    }

    withName: MULTIQC {
        conda = 'bioconda::multiqc=1.21'
    }
}

timeline {
    enabled = true
    file    = "${baseDir}/results/pipeline_timeline.html"
}

report {
    enabled = true
    file    = "${baseDir}/results/pipeline_report.html"
}

trace {
    enabled = true
    file    = "${baseDir}/results/pipeline_trace.txt"
}
