docker.enabled = false
singularity.enabled = false

trace {
    enabled = true
    fields = 'task_id,process,status,exit,hash,script'
}


params {
    outdir = "${baseDir}/results"
    busco_lineage = 'bacteria_odb10'
}

conda {
    enabled = true
}

process {
    executor = 'local'
    cpus = 2
    memory = '4 GB'

    withName: SANITY_CHECK {
    shell = ['/bin/bash', '-euo', 'pipefail']
    }
    
    withName: FASTQC_RAW {
        conda = 'bioconda::fastqc=0.12.1'
    }

    withName: FASTP {
        conda = 'bioconda::fastp=0.23.4'
    }

    withName: FASTQC_TRIMMED {
        conda = 'bioconda::fastqc=0.12.1'
    }

    withName: RETENTION_TRACK {
    conda = 'conda-forge::grep coreutils'
    }

    withName: MULTIQC {
        conda = 'bioconda::multiqc=1.21'
    }

        withName: SPADES {
        conda = 'bioconda::spades=3.15.5'
        cpus = 8
        memory = '16 GB'
    }

    withName: QUAST {
        conda = 'bioconda::quast=5.2.0'
        cpus = 4
        memory = '8 GB'
    }

    
    withName: BUSCO {
        conda = "${baseDir}/envs/busco.yml"
        cpus  = 4
        memory = '8 GB'
    }


}

timeline {
    enabled = true
    file    = "${baseDir}/results/pipeline_timeline.html"
}

report {
    enabled = true
    file    = "${baseDir}/results/pipeline_report.html"
}

trace {
    enabled = true
    file    = "${baseDir}/results/pipeline_trace.txt"
}
