params.outdir ="${baseDir}/results"

process {
    executor = 'local'
    cpus = 2
    memory = '4 GB'
    withName: FASTQC {
        conda = 'bioconda::fastqc=0.12.1'
    }
}
timeline {
    enabled = true
    file = "${baseDir}/results/pipeline_timeline.html"
}
report {
    enabled = true
    file = "${baseDir}/results/pipeline_report.html"
}
trace {
    enabled = true
    file = "${baseDir}/results/pipeline_trace.txt"
}